[{{ report_status }}] {{ report_host }}: {{ report_reason }}
{% if report_recommendations is defined %}
  {% for recommendation in report_recommendations %}
  - RECOMMENDATION: {{ recommendation }}
  {% endfor %}
{% endif %}
